@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-size: 50px">Seja Bem-Vindo(a)!!</h1>
    <p class="display-4" style="font-size: 35px">Ao Consultório Clínico Geral.</p>
</div>
